@model Lesson


    <div class="col-md-4 mb-3">
        <div class="card">
           
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">@Model.LessonName</a>
                </h4>
                    <p class="card-text">Fiyat = @Model.Price TL</p>
                <p class="card-text">Başlangıç Tarihi = @Model.StartingDate</p>
                <p class="card-text">Bitiş Tarihi = @Model.EndDate</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm">Details</a>

            </div>
        </div>
    </div>
